@page
@model Pages.SupportRequest.ShowAllModel
@inject SignInManager<DataBase.Identity.AppIdentityUser> SignInManager
@inject UserManager<DataBase.Identity.AppIdentityUser> UserManager

@using global::Infrastructure.ViewComponents




@{
    //@Html.Table(@Model.Result)

    //<h3>@User.ClaimName()</h3>
    //<h3>@User.ClaimNameIdentifier()</h3>
}

@{
    //public record ResultDto(Guid Id, string Name, string Description, Category Category, Status Status, string CreatorName);
    //@Model.Result
    <h3>All Tasks:</h3>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Creator</th>
                <th scope="col">Detailing</th>
                <th scope="col">Take</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Result.Count; i++)
            {
                <tr>
                    @{
                        var row = @Model.Result[i];
                        <th scope="row">@i</th>
                        <td>@row.Name</td>
                        <td>@row.Description</td>
                        <td>@row.Category</td>
                        <td>@row.Status</td>
                        <td>@row.CreatorName</td>
                        <td><a asp-page="/SupportRequest/Detailing" asp-route-Id=@row.Id>Detailing</a></td>
                        <td><a asp-page="/SupportRequest/Detailing" asp-route-Id=@row.Id>Take</a></td>
                        <td><a asp-page="/SupportRequest/Detailing" asp-route-Id=@row.Id>Delete</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>


}

