@inject IHostEnvironment hostEnvironment




<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - HelpDesk</title>

	<!--<link rel="icon" href="Icons/SwaggerIcon.svg" sizes="32x32" type="image/png" />-->


	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/HelpDesk.styles.css" asp-append-version="true"/>
</head>



<body>
	<mini-profiler />

	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">HelpDesk</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/SupportRequest/Create">Create</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/SupportRequest/ShowAll">ShowAll</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/SupportRequest/ShowCreatedByMe">ShowCreatedByMe</a>
						</li>


					</ul>
					<partial name="_LoginPartial"/>
				</div>
			</div>
		</nav>
	</header>

	<mini-profiler />


	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>




	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - 
			HelpDesk - 
			@if (hostEnvironment.IsDevelopment())
			{
				@Html.Link("Claims", "/Infrastructure/Claims", LinkTarget._blank)
				@Html.Link("Counters", "/Infrastructure/Counters", LinkTarget._blank)
				@Html.Link("ErrrorHandle", "/Infrastructure/ErrrorHandle", LinkTarget._blank)
				


				@Html.Link("metrics", "/metrics", LinkTarget._blank)

				@Html.Link("profiler.index", "/profiler/results-index", LinkTarget._blank)
				@Html.Link("profiler.results", "/profiler/results", LinkTarget._blank)
				@Html.Link("Swagger", "/swagger", LinkTarget._blank)

				@Html.Link("Health", "/health", LinkTarget._blank)
				
			}
		</div>
	</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>